*{
    margin: 0;
    padding: 0;

}
.App{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.base-lista{
    border: 1px solid #36f1e2;
    width: 350px;   
}
h1{
    color: rgb(40, 41, 43,.33);
}

